{
  "semi": false,
  "singleQuote": false,
  "printWidth": 100,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.md", "*.mdc"],
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve"
      }
    }
  ]
}
